# Streamlit library for building the dashboard
streamlit==1.25.0

# Data manipulation and analysis
pandas==2.0.3
numpy==1.24.3

# Data visualization libraries
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.15.0
